<?xml version="1.0"?>
<configuration>
	<appSettings>

		<!--每天给管理员提醒时间-->
		<add key="TiXing" value="8:15:00"/>

		<!--信息检查的时间间隔，单位秒-->
		<add key="checkSpan" value="10"/>

		<!--path最后都要带上\-->

		<!--日志文件的位置-->
		<add key="LogFile" value="D:\work\aqxxptSMS.log"/>

		<!--系统出错时给admin发短信提醒-->
		<add key="AdminNum" value="18737385236"/>
		<!--出错时给服务器管理员发短信提醒-->

		<add key="MessageToAdminOnError" value="true"/>

	</appSettings>
	<connectionStrings>
		
		<add name="messageConnectionString" connectionString="Data Source=10.99.81.17;Initial Catalog=xtbg;Persist Security Info=True;User ID=xtbg;Password=xtbg" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
