<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="sjbgWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="gwxxConnectionString" connectionString="Data Source=10.99.81.68;User ID=gwcl;Password=gwcl;Initial Catalog=gwxx;Persist Security Info=True" providerName="System.Data.SqlClient"/>

    <add name="zbConnectionString" connectionString="Data Source=10.99.81.68;User ID=gwcl;Password=gwcl;Initial Catalog=xjzb;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="centerConnectionStringCeshi" connectionString="Data Source=10.99.81.106,2433;Initial Catalog=xtbg;Persist Security Info=True;User ID=xtbg;Password=xtbg" providerName="System.Data.SqlClient"/>
    <add name="centerConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=xtbgbak;Persist Security Info=True;User ID=sa;Password=zcj@xx202526" providerName="System.Data.SqlClient"/>
    <add name="centerConnectionString1" connectionString="Data Source=10.99.151.124;Initial Catalog=xtbg;Persist Security Info=True;User ID=sa;Password=zcj@xx202526" providerName="System.Data.SqlClient"/>
    <add name="yyConnectionString" connectionString="Data Source=10.99.81.18;Initial Catalog=Automanage;Persist Security Info=True;User ID=xxjyz;Password=jsk205le8r" providerName="System.Data.SqlClient"/>
    <add name="ysConnectionString" connectionString="Data Source=10.99.82.36;Initial Catalog=Automanage;Persist Security Info=True;User ID=xxjyz;Password=jsk205le8r" providerName="System.Data.SqlClient"/>
    <add name="cbConnectionString" connectionString="Data Source=10.99.81.220;Initial Catalog=icsoft_newGPRS;Persist Security Info=True;User ID=icsoft;Password=ecard2013" providerName="System.Data.SqlClient"/>
    <add name="mqttConnectionString" connectionString="Data Source=127.0.0.1,2433;Initial Catalog=mosquitto;Persist Security Info=True;User ID=sjbg;Password=sjbg" providerName="System.Data.SqlClient"/>
    <add name="yjConnectionString" connectionString="Data Source=127.0.0.1,2433;Initial Catalog=mosquitto;Persist Security Info=True;User ID=sjbg;Password=sjbg" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="KaiShi" value="$$"/>
    <add key="FenGe" value="''"/>
    <add key="LingDaoFenGe" value="^^"/>
    <add key="YouJianDiZhi" value=";;"/>
    <add key="FuJian" value="D:\wwwroot\GongWenWeb\gwfj\"/>
    <add key="SendFile" value="D:\gwfj\SendFile\"/>
    <add key="ApkVersionCode" value="20"/>
    <add key="ApkVersionName" value="0.2.1.21"/>
    <add key="ApkFilePath" value="https://61.163.45.215/update/"/>
    <add key="ScjbFilePath" value="http://10.99.81.68/scjb/excel/"/>
    <add key="ApkFileName" value="xxjwdsjbg.apk"/>
    <add key="ApkUpdateContent" value="1.aaa;2.bbb"/>
    <add key="MailPass" value="zcj"/>
    <add key="MailDomain" value="xxjwd.com"/>
    <add key="MailHost" value="10.99.81.17"/>
    <add key="MailSmtpPort" value="25"/>
    <add key="MailImapPort" value="143"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <applicationSettings>
    <sjbgWebService.Properties.Settings>
      <setting name="sjbgWebService_EcardService_Service" serializeAs="String">
        <value>http://10.99.81.6:8082/ecardservice/service.asmx</value>
      </setting>
    </sjbgWebService.Properties.Settings>
  </applicationSettings>
</configuration>
