BODY {
    BACKGROUND-COLOR: #ffffff;
    COLOR: #020202;
    FONT-SIZE: 13px;
    MARGIN: 0px auto;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px;
    WORD-BREAK: break-all;
}

TABLE {
    BORDER-BOTTOM: #0099cc 0px;
    BORDER-LEFT: #0099cc 0px;
    BORDER-RIGHT: #0099cc 0px;
    BORDER-TOP: #0099cc 0px;
    LINE-HEIGHT: 20px;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px;
}

TD {
    COLOR: #212121;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}

SELECT {
    COLOR: #212121;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}

UL {
    COLOR: #212121;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}

P {
    COLOR: #212121;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}

.padding-body {
    BACKGROUND-COLOR: #ffffff;
    COLOR: #020202;
    FONT-FAMILY: 'lucida grande', tahoma, helvetica, "ו", arial,
                 'bitstream vera sans', sans-serif;
    FONT-SIZE: 13px;
    PADDING-RIGHT: 12px;
    WORD-BREAK: break-all;
}

.cmnbtn {
    BORDER-BOTTOM: #002d96 1px solid;
    BORDER-LEFT: #002d96 1px solid;
    BORDER-RIGHT: #002d96 1px solid;
    BORDER-TOP: #002d96 1px solid;
    COLOR: black;
    CURSOR: hand;
    FILTER: progid:DXImageTransform.
            Microsoft.





            Gradient(GradientType =               0, StartColorStr =             
                     #FFFFFF, EndColorStr =       
                     #9DBCEA);
    FONT-SIZE: 12px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
}

TH {
    BACKGROUND: #8fd8ff;
    COLOR: #010142;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px;
    style: weight
}

.body-white-bg {
    BACKGROUND-COLOR: #fff;
    MARGIN: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    WIDTH: 776px;
}

A:link {
    COLOR: #3d3eff;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

A:hover {
    COLOR: #e69135;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline
}

A:active {
    COLOR: #003466;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

FORM {
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

INPUT {
    BACKGROUND-COLOR: #fff;
    BORDER-BOTTOM: #959595 1px solid;
    BORDER-LEFT: #959595 1px solid;
    BORDER-RIGHT: #959595 1px solid;
    BORDER-TOP: #959595 1px solid;
    COLOR: #111;
    FONT-SIZE: 12px;
    HEIGHT: 20px;
}

#lgn_btn {
    BORDER-BOTTOM: #002d96 1px solid;
    BORDER-LEFT: #002d96 1px solid;
    BORDER-RIGHT: #002d96 1px solid;
    BORDER-TOP: #002d96 1px solid;
    COLOR: black;
    CURSOR: hand;
    FILTER: progid:DXImageTransform.
            Microsoft.





            Gradient(GradientType =               0, StartColorStr =             
                     #FFFFFF, EndColorStr =       
                     #9DBCEA);
    FONT-SIZE: 12px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
}

TEXTAREA {
    BACKGROUND-COLOR: #fff;
    BORDER-BOTTOM: #959595 1px solid;
    BORDER-LEFT: #959595 1px solid;
    BORDER-RIGHT: #959595 1px solid;
    BORDER-TOP: #959595 1px solid;
    COLOR: #111;
    FONT-FAMILY: 'lucida grande', tahoma, helvetica, "ו", arial,
                 'bitstream vera sans', sans-serif;
    FONT-SIZE: 12px;
}

.subbutton {
    BACKGROUND: #6b89b8;
    BORDER-BOTTOM: #0e1f5b 1px solid;
    BORDER-LEFT: #d8dfea 1px solid;
    BORDER-RIGHT: #0e1f5b 1px solid;
    BORDER-TOP: #d8dfea 1px solid;
    COLOR: #fff;
    CURSOR: pointer;
    HEIGHT: 24px;
    LINE-HEIGHT: 16px;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 3px;
}

.blue {
    COLOR: #6a7b89;
    FONT-SIZE: 12px;
}

.login_btn {
    BACKGROUND-COLOR: #eadcaa;
    CURSOR: hand;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    HEIGHT: 40px;
    WIDTH: 80px;
}

.btn {
    BORDER-BOTTOM: #7b9ebd 1px solid;
    BORDER-LEFT: #7b9ebd 1px solid;
    BORDER-RIGHT: #7b9ebd 1px solid;
    BORDER-TOP: #7b9ebd 1px solid;
    CURSOR: hand;
    FILTER: progid:DXImageTransform.
            Microsoft.






            Gradient(GradientType =                 0, StartColorStr =              
                     #ffffff, EndColorStr =        
                     #becffe);
    FONT-SIZE: 12px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
}

#table1 {
    BORDER-BOTTOM: 1px;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
}

#table1 TD {
    BORDER-BOTTOM: #aebfcf 1px solid;
    BORDER-LEFT: #aebfcf 1px solid;
    BORDER-RIGHT: #aebfcf 1px solid;
    BORDER-TOP: #aebfcf 1px solid;
    COLOR: #212121;
    FONT-SIZE: 12px;
}

#table1 TH {
    BACKGROUND-COLOR: #f2f4fe;
    BORDER-BOTTOM: #aebfcf 1px solid;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT: #aebfcf 1px solid;
    BORDER-RIGHT: #aebfcf 1px solid;
    BORDER-TOP: #aebfcf 1px solid;
    COLOR: #010142;
    FONT-SIZE: 12px;
    style: weight
}

#table2 {
    BORDER-BOTTOM: 1px;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-BOTTOM: 15px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    PADDING-TOP: 15px;
}

#table2 TH {
    BACKGROUND-COLOR: #f2f4fe;
    BORDER-BOTTOM: #aebfcf 1px solid;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT: #aebfcf 1px solid;
    BORDER-RIGHT: #aebfcf 1px solid;
    BORDER-TOP: #aebfcf 1px solid;
    COLOR: #010142;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 25px;
    PADDING-RIGHT: 25px;
    PADDING-TOP: 10px;
    style: weight
}

#table2 TD {
    BORDER-BOTTOM: #aebfcf 1px solid;
    BORDER-LEFT: #aebfcf 1px solid;
    BORDER-RIGHT: #aebfcf 1px solid;
    BORDER-TOP: #aebfcf 1px solid;
    COLOR: #212121;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px;
    TEXT-ALIGN: center
}

#btn3 {
    BACKGROUND-POSITION: -14px -221px;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    COLOR: #666;
    CURSOR: pointer;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bolder;
    HEIGHT: 25px;
    LINE-HEIGHT: 23px;
    MARGIN-LEFT: 0px;
    TEXT-ALIGN: center;
    WIDTH: 50px;
}

#err_div {
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #000000 0px;
    BORDER-LEFT: #000000 0px;
    BORDER-RIGHT: #000000 0px;
    BORDER-TOP: #000000 0px;
    FILTER: alpha(opacity = 100);
    HEIGHT: 100%;
    WIDTH: 100%;
    Z-INDEX: 1;
}